# How to read Excel file using Pandas DataFrame

In [17]:
import pandas as pd


df = pd.read_excel('students.xlsx')
df

          name         ID  Math  English  Computer
0     John Doe  2022-0002   100       90        90
1     Jane Doe  2023-0001    70      100        90
2   Mary Smith  2023-0002   100      100       100
3  Bill Watson  2023-0003   100       75        85

In [34]:
# Get the column names

df.columns

Index(['name', 'ID', 'Math', 'English', 'Computer'], dtype='object')

In [45]:
# getting the number of rows 
df.shape[0]

4

In [44]:
# getting the number of columns
df.shape[1]

5

In [19]:
df.iloc[1]

name         Jane Doe
ID          2023-0001
Math               70
English           100
Computer           90
Name: 1, dtype: object

In [22]:
df['ID']

0    2022-0002
1    2023-0001
2    2023-0002
3    2023-0003
Name: ID, dtype: object

In [27]:
df.iloc[0][:2]

name     John Doe
ID      2022-0002
Name: 0, dtype: object

In [30]:
for v in df.iloc[0]:
    print (v, end= ' ')

John Doe 2022-0002 100 90 90

## Get the first row and make it as a list

In [28]:
headerrow = list(df.iloc[0])
print (headerrow)

['John Doe', '2022-0002', 100, 90, 90]

## Make Dictionay Example

### - df.columns are keys
### - The first row values are values

In [36]:


students = {}

keys = df.columns
i = 0
for v in df.iloc[0]:    
    students[df.columns[i]] = v
    i += 1
print (students)

{'name': 'John Doe', 'ID': '2022-0002', 'Math': 100, 'English': 90, 'Computer': 90}

## Make Dictionay Example

### - df.columns are keys
### the all values in entire rows

In [57]:


students = []

keys = df.columns
for i in range(df.shape[0]):
    keyidx = 0
    onestudent = {}
    for v in df.iloc[i]:    
        onestudent[df.columns[keyidx]] = v
        keyidx += 1
    students.append(onestudent)

for d in students:
    for k, v in d.items():
        print (f'\t{k} -> {v}', end='\t')
    print ()

print (students)

	name -> John Doe		ID -> 2022-0002		Math -> 100		English -> 90		Computer -> 90
	name -> Jane Doe		ID -> 2023-0001		Math -> 70		English -> 100		Computer -> 90
	name -> Mary Smith		ID -> 2023-0002		Math -> 100		English -> 100		Computer -> 100
	name -> Bill Watson		ID -> 2023-0003		Math -> 100		English -> 75		Computer -> 85
[{'name': 'John Doe', 'ID': '2022-0002', 'Math': 100, 'English': 90, 'Computer': 90}, {'name': 'Jane Doe', 'ID': '2023-0001', 'Math': 70, 'English': 100, 'Computer': 90}, {'name': 'Mary Smith', 'ID': '2023-0002', 'Math': 100, 'English': 100, 'Computer': 100}, {'name': 'Bill Watson', 'ID': '2023-0003', 'Math': 100, 'English': 75, 'Computer': 85}]

In [61]:
print (students)

students.sort(key= lambda d : d['name'])
print (students)

[{'name': 'John Doe', 'ID': '2022-0002', 'Math': 100, 'English': 90, 'Computer': 90}, {'name': 'Jane Doe', 'ID': '2023-0001', 'Math': 70, 'English': 100, 'Computer': 90}, {'name': 'Mary Smith', 'ID': '2023-0002', 'Math': 100, 'English': 100, 'Computer': 100}, {'name': 'Bill Watson', 'ID': '2023-0003', 'Math': 100, 'English': 75, 'Computer': 85}]
[{'name': 'Bill Watson', 'ID': '2023-0003', 'Math': 100, 'English': 75, 'Computer': 85}, {'name': 'Jane Doe', 'ID': '2023-0001', 'Math': 70, 'English': 100, 'Computer': 90}, {'name': 'John Doe', 'ID': '2022-0002', 'Math': 100, 'English': 90, 'Computer': 90}, {'name': 'Mary Smith', 'ID': '2023-0002', 'Math': 100, 'English': 100, 'Computer': 100}]